* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

@media (orientaion: landscape) {
	/* impede que a tela gire em dispositivo movel*/
	content {
		transform: rotate(-90deg);
	}
}

/*header*/

header {
	width: 100%;
}

header nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 50px;
	background-color: white;
	box-shadow: 1px 1px 2px lightgrey;
}

header nav img {
	width: 50px;
	height: 50px;
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav ul li {
	text-transform: uppercase;
	margin: 0 10px;
}

header nav ul li a {
	color: grey;
	transition: 0.1s all;
}

header nav ul li a:hover {
	color: black;
}

/* adicionando responsividade */

@media(max-width: 768px) {
	header nav {
		height: 150px;
	}
	header nav {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 20px 0;
	}
	header nav img {
		margin-bottom: 20px;
	}
}

@media (max-width: 425px) {
	header nav ul li {
		text-transform: uppercase;
		margin: 0 5px;
	}
	header nav ul li a {
		font-size: 10pt;
	}
}

/*main banner*/

.main-banner {
	margin-top: 100px;
	background: url('../img/banner6.jpg') no-repeat;
	background-size: cover;
	background-position: 0 55%;
}

.form {
	width: 100%;
}

.form-control {
	padding: 10px;
	border: none;
	background-color: white;
	border-radius: 2px;
	color: grey;
	font-size: 16px;
	font-weight: 500;
}

@media(max-width: 768px) {
	.main-banner {
		margin-top: 150px;
		background-size: 80em;
	}
	.form {
		display: flex;
		flex-direction: column;
	}
	.form-control {
		width: 100%;
	}
}

@media (max-width: 425px) {
	.main-banner {
		background-size: 60em;
	}
}

/*main*/

.last-job ul li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.last-job ul {
	width: 80%;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.last-job ul li a {
	border-bottom: 1px solid lightgrey;
}

.company-box img {
	width: 100px;
	height: 80px;
}

.job-type .clt {
	width: 300px;
	background-color: blue;
	color: white;
	border-radius: 5px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
}

.job-type .pj {
	width: 300px;
	background-color: lightgreen;
	color: white;
	border-radius: 5px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
}

.job-type .home {
	width: 300px;
	background-color: orange;
	color: white;
	border-radius: 5px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.locality {
		margin-left: 50px;
	}
	.last-job ul {
		width: 100%;
	}
	.job-type .clt {
		width: 100px;
	}
	.job-type .pj {
		width: 100px;
	}
	.job-type .home {
		width: 100px;
	}
}

@media (max-width: 600px) {
	.container {
		height: 100%;
		padding: 20px 0;
	}
	.last-job ul {
		display: flex;
		flex-direction: column;
	}
	.last-job ul li {
		padding: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.click-area {
		display: flex;
		flex-direction: column;
	}
	.company-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.locality {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 20px auto;
	}
	.company-box img {
		width: 200px;
		height: 150px;
	}
	.job-type .clt {
		width: 200px;
	}
	.job-type .pj {
		width: 200px;
	}
	.job-type .home {
		width: 200px;
	}
}

/*banner 2*/

.sendjoobs {
	width: 100%;
	background: url(../img/banner2.jpg) no-repeat;
	background-size: cover;
	background-position: 0 60%;
}

.sendjoobs-inner {
	width: 40%;
	height: 100%;
	padding: 100px 100px 50px 100px;
}

.sendjoobs-inner h1 {
	color: white;
	text-align: left;
	font-weight: 700;
	font-size: 35px;
}

.sendjoobs-inner p {
	color: white;
	text-align: left;
	margin: 50px 0 110px;
}

.btn-light {
	font-weight: 600;
	padding: 15px;
	border: none;
	background-color: lightgrey;
	color: #606060;
	border-radius: 5px;
	margin-bottom: 100px;
	text-transform: uppercase;
}

/*job-status*/

.status-container {
	width: 100%;
}

.title-center {
	text-align: center;
	color: grey;
	margin: 50px 0 50px;
	font-weight: 700;
	font-size: 35px;
}

.p-center {
	text-align: center;
	color: grey;
	width: 80%;
	margin: 0 auto 100px auto;
}

.list-box {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-bottom: 100px;
}

.box {
	padding: 10px 50px 10px 50px;
	margin: 100px 0 100px;
	border-left: 1px solid grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
}

.box:nth-child(4) {
	border-right: 1px solid grey;
}

.box span {
	color: grey;
	font-size: 40px;
	/*font-weight: 400;*/
}

.box p {
	color: grey;
}

/*testmony*/

.testmony-container {
	width: 100%;
	background: url(../img/banner7.jpg) no-repeat;
	background-size: cover;
	background-position: 0 55%;
}

.wrapper {
	width: 80%;
	margin: 0 auto 100px auto;
}

.wrapper h1 {
	text-align: center;
	color: white;
	padding: 150px 0 50px;
	font-weight: 700;
	font-size: 35px;
}

.wrapper p {
	text-align: center;
	color: white;
}

.testmony-test-box {
	display: flex;
	width: 100%;
	justify-content: center;
}

.testmony-test-box-item {
	display: flex;
	flex-direction: column;
	padding: 0 30px 30px 30px;
	justify-content: center;
	align-items: center;
}

.testmony-test-box-item p {
	font-size: 20px;
	font-style: italic;
	color: grey;
	background-color: white;
	width: 150px;
	margin-bottom: 30px;
	text-align: center;
	border-radius: 5px;
	padding: 20px;
	/*position: relative;*/
}

.testmony-test-box-item img {
	width: 90px;
	height: 100px;
	border: 1px solid lightgrey;
	border-radius: 50%;
}

.testmony-test-box-item span {
	font-weight: bold;
	color: white;
}

.testmony-test-box-item p::after {
	content: "";
	position: relative;
	bottom: -65px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
	right: 20%;
}

.blog-container {
	width: 100%;
}

.blog-container-wrapper {
	width: 80%;
	margin: 0 auto 0 auto;
}

.blog-container h1 {
	text-align: center;
	font-weight: 700;
	font-size: 35px;
}

.blog-container p {
	padding: 30px 0 50px;
	text-align: center;
}

.article-box {
	display: flex;
	justify-content: center;
}

.article-box-item {
	margin: 0 20px 0 20px;
}

.article-box-item img {
	width: 350px;
	height: 250px;
	border-radius: 5px;
}

.article-box h4 {
	margin: 20px 0 20px;
}

.article-box span {}

.article-box p {
	width: 350px;
	text-align: left;
}

.article-box button {
	background-color: blue;
	color: white;
	cursor: pointer;
}

.article-box button:hover {
	opacity: 0.5;
}

/*footer*/

footer {
	width: 100%;
	background-color: grey;
}

.footer-container {
	display: flex;
	padding: 100px;
	border-bottom: 1px solid lightgrey;
}

.description {
	height: 100%;
	width: 30%;
	margin-right: 100px;
}

.description h1 {
	color: lightgrey;
	padding: 30px 0 20px;
	font-weight: 400;
}

.description p {
	color: lightgrey;
}

.artigo-box {
	width: 30%;
	height: 100%;
	margin-right: 100px;
}

.artigo-box h1 {
	color: lightgrey;
	margin-bottom: 20px;
	font-weight: 400;
}

.artigo-item {
	margin: 20px 0 20px;
}

.artigo-item p {
	color: lightgrey;
	font-size: 20px;
}

.artigo-item small {
	color: lightgrey;
}

.rede-social {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.rede-social h1 {
	font-weight: 400;
	color: lightgrey;
	margin-bottom: 20px;
}

.social-item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.social-item i {
	color: lightgrey;
	font-size: 40px;
	margin-right: 10px;
}

.social-item span {
	color: lightgrey;
	font-size: 20px;
	text-transform: capitalize;
}

.copy {
	width: 100%;
	display: flex;
	padding: 25px 0 25px;
}

.copy h1 {
	color: white;
	margin-left: 20px;
	font-size: 20px;
}

.copy p {
	color: white;
	font-size: 20px;
	margin-left: 20px;
}